body {
    font-family: Arial, sans-serif;
}

.cards-container {
    display: flex;
    flex-wrap: wrap; /* מאפשר עטיפה של כרטיסיות אם אין מקום */
    justify-content: space-between; /* יוצר רווח אחיד בין הכרטיסיות */
    gap: 20px; /* יוצר רווח בין הכרטיסיות */
    margin: 20px 0;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: calc(33.33% - 20px); /* 3 כרטיסיות בשורה עם רווחים */
    box-sizing: border-box; /* מחשב רווחים כחלק מגודל הכרטיסיה */
    text-align: center;
    background-color: #f9f9f9;
}

.image {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}


.name {
    font-size: 1.2rem;
    margin: 10px 0;
}

.price {
    color: #7a28d1;
    font-size: 1.2rem;
}

.add-to-cart-btn {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
